#content img {
  padding: 3px;
  max-width: 100%;
  display: inline-block;
}

#content h2.title a {
  text-decoration: none;
}

#content p {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.7em;
}

#content ul {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 30px;
}

#content .byline {
  margin-bottom: 17px;
  font-family: Helvetica, sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

#content .original_post {
  background-color: #EEE;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
  text-align: center;
}

#content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 2em 3em;
}

#content .highlight {
  margin: 0 0 1em 0;
  background-color: #eee;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.2em;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  text-shadow: none;
  color: #111;
}
#content .hightlight code{
  float: left;
}
#content .highlight:hover {
  overflow: auto;
}
