#content img {
  padding: 3px;
  max-width: 100%;
  display: inline-block;
}

#content h2.title a {
  text-decoration: none;
}

#content p {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.7em;
}

#content ul {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 30px;
}

#content .byline {
  margin-bottom: 17px;
  font-family: Helvetica, sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

#content .latest {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 14px 14px 14px 50px;
  background: #EEE url("/images/glyphicons/png/glyphicons_049_star.png") no-repeat 10px 10px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
  text-align:  left;
}

#content .engage {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 14px 14px 0px 120px;
  background: #FCF6E7 url("http://www.gravatar.com/avatar/84aa33423e488b1e0a67de0da8f3a686?s=100") no-repeat 10px 20px;
  border: 1px solid #D1D0C8;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.7em;
  margin: 5px 0 15px 0;
  text-align:  left;
  min-height:110px;
  height:auto !important;
  height:110px;
}

body.default #content .engage {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 14px 14px 0px 14px;
  background: #FCF6E7;
  border: 1px solid #D1D0C8;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.7em;
  margin: 5px 0 15px 0;
  text-align:  left;
  min-height:110px;
  height:auto !important;
  height:110px;
}

#content .engage h2 {
  padding-bottom: 0px;
  margin-left: 0px;
}

#content .engage table {
 width: 550px;
}
body.default #content .engage table {
 width: 750px;
}
#content .engage table td {
 padding: 0 10px;
}
#content .engage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .engage ul li {
  padding-left: 0px;
  height: 30px;
  margin-bottom: 0px;
}
#content .engage ul li span {
  padding-left: 10px;
  font-weight: bold;
}
#content .original_post {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 14px 14px 14px 50px;
  background: #EEE url("/images/glyphicons/png/glyphicons_195_circle_info.png") no-repeat 10px 10px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
  text-align:  left;
}

#content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 2em 3em;
}

#content .highlight {
  margin: 0 0 1em 0;
  background-color: #eee;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.2em;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  text-shadow: none;
  color: #111;
}
#content .hightlight code{
  float: left;
}
#content .highlight:hover {
  overflow: auto;
}
