<div class="engage">
  <table >
    <tr>
      <td width="55%">
        <strong class="shameless_plug">Shameless plug...</strong>
        <p>
          To discuss how you can better align your business objectives with the most up-to-date Web technologies,
          <strong>contact me</strong>. It will be my pleasure to help you out.
        </p>
      </td>
      <td width="45%">
        <h2 class="title">Let's get in touch!</h2>
        {% include contact_methods.html %}
      </td>
    </tr>
  </table>
</div>

