<div id="header">

  {% unless page.layout == 'post' %}
    <div id="block-top"></div>
    <div id="personal-info" class="fixed">

      <a id="picture-of-you" href="/">
        <img src="http://www.gravatar.com/avatar/84aa33423e488b1e0a67de0da8f3a686?s=100" width="100" height="100" alt="" />
      </a>

      <h1 id="name">{{ site.name }}</h1>
      <h2 id="what-you-do">{{ site.tagline | capitalize}}</h2>

    </div><!-- end #personal-info -->
  {% endunless %}

  <ul id="nav" class="fixed">
    <li><a href="/index.html" class="{% if page.layout != 'post' %}active{% endif %}">Home</a></li>
    <li>/</li>
    <li><a href="/blog.html" class="{% if page.layout == 'post' %}active{% endif %}">Portfolio & Blog</a></li>
    <li>/</li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul><!-- end #nav -->

  <div class="divider"></div>

</div><!-- end #header -->
