  <div id="footer" class="fixed">

    <div class="divider2"></div>

    <p id="copyright">
    &copy; {{ site.time | date: "%Y" }} Benjamin Thouret. All rights reserved.
    </p>
    <a href="#" id="top">&#710; Top</a>
    <span class="stuff"><a href="https://github.com/benichu/benichu.github.com/blob/master/README.md" target="_blank" class="tip" title="website's readme"><i class="ss-icon">script</i></a></span>
    <span class="stuff"><a href="https://github.com/benichu" target="_blank" class="tip" title="github"><i class="ss-icon ss-social">octocat</i></a></span>
    <span class="stuff"><a href="http://twitter.com/bthouret" target="_blank" class="tip" title="Twitter"><i class="ss-icon ss-social">twitter</i></a></span>
    <span class="stuff"><a href="http://www.linkedin.com/in/benjaminthouret" target="_blank" class="tip" title="LinkedIn"><i class="ss-icon ss-social">linkedin</i></a></span>
    <span class="stuff"><a href="#" class="tip" title="coming soon..."><i class="ss-icon">itunes</i></a></span>
  </div><!-- end #footer -->


<script type="text/javascript"> Cufon.now(); </script>
<script src="/webfonts/ss-symbolicons.js"></script>
<script src="/webfonts/ss-social.js"></script>
